<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>David's Personal Site</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <table>
      <tr>
        <td><img src="static/pretty.jpeg" alt="this is a good night"></td>
        <td>
          <h1>David Perkins</h1>
          <p><em>David Perkins is a bit of a superstar who is sure to publish his blockbuster novel <strong>soon</strong>.</em></p>
          <p>He is the author of several superb novels and also a bit of a dude.</p>
        </td>
      </tr>
    </table>

    <hr />
    <h3>Novels</h3>
    <ul>
      <li>Gob-irons and Psalmistry</li>
      <li>Desperately Seeking Arthur</li>
    </ul>
    <a href="characters.html">Characters</a>
  </body>
</html>
