<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>David Perkins - Author</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/images/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Maven+Pro&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body>

    <div class="top-container">
      <img class="cloud-1" src="static/images/cloud.png" alt="cloud-img">
      <h1>Welcome to David Perkins World</h1>
      <h2>A lot going on, but activity does not necessarily equate to coherence...</h2>
      <img class="cloud-2" src="static/images/cloud.png" alt="cloud-img">
      <img src="static/images/mountain.png" alt="mountain-img">
    </div>

    <div class="middle-container">
      <div class="profile">
        <img class="profile-image" src="static/images/IMG_0812.jpg" alt="dp-img">
        <h2>Greetings, fellow traveller...</h2>
        <p class="centred-50pc">Life is simple: There are things you do well because you have to (work), things you
          don't HAVE to do that you really, really wish you could do better (playing the trombone in my case but feel
          free to pick your own vice), things you accept that you will never be able to do but admire nonetheless
          (playing the Goldberg Variations like Glenn Gould, insert your own weird inadequacy here), and, finally,
          there's all the other shit.  Let's talk about 1, 2 and 3.</p>
      </div>
      <hr>
      <div class="skills">
        <h2>My Skills</h2>
        <div class="skill-row">
          <img class="skill-image-left" src="static/images/sql-server.png" alt="sql-icon-img">
          <h3>Relational Database Development</h3>
          <p class="standard-text">Data can be a dirty word these days, but there's no getting away from the stuff.
            Data for data's sake is a bad thing - it will sit there, bloated, lurking, consuming energy on a server
            farm somewhere in Kazakhstan until the moment it can be used to screw somebody's life up while earning a
            criminal (either organised or, more seriously, one who runs a social media platform) a few cents. On the
            other hand, data can be lean, match-fit, secure and necessary and, to the trained observer, a thing of
            structural and design genius. Getting it right can be difficult - rather like the Times crossword - and an
            elegant solution to a thorny problem can still leave me smiling even after 25 years in the game. Like that
            crossword, SQLServer and PostGres offer up their own cryptic frustrations, but so as the practiced
            puzzle-solver comes to know the setter so the experienced developer understands how to approach the problem
            given the clues and will always be able to fill in that final square while wearing a satisfied smile. And
            let's not forget that a tidy worker is a better worker, and so time spent laying out the code with
            consistent indentation and capitalisation is never time wasted.  Anything else is simple laziness and a
            source of frustration for those who come along later.</p>
        </div>
        <div class="skill-row">
          <img class="skill-image-right" src="static/images/economic.png" alt="economic-icon-img">
          <h3>The City of London and What It Can Offer</h3>
          <p class="standard-text">Money has always been a dirty word, but there's no getting away from the stuff. As a
            financial journeyman, having already travelled the world of world travel by developing systems for travel
            agents, I ventured south and into the world of investment management systems. Bewildered by what was effectively
            a foreign language, I sought knowledge and learned things they could only teach me of in college (while
            listening to The Police on the way home from night school) and qualified three months later as FSA
            Registered Representative for non-derivative securities. I was thus allowed to work as a bond trader
            (when many of those creatures were failing that very same examination and losing their jobs), but a short
            conversation with a desk head at ANZ put paid to that ambition (assume Aussie twang) 'David...you simply
            aren't rude enough to do this job...' Nonetheless, I moved through fixed income back offices, swap trading
            desks (where rudeness is raised to an exquisite artform), FX support desks...you name it...and was then spat
            out onto Threadneedle Street after 18 years at a major Canadian bank (you do the math). I dusted myself down
            and entered the world of fiduciary management and pensions, and then paid homage at the London Stock
            Exchange where I learned the outs and very many ins of bond index construction. Curiosity then took me very
            briefly - not even the blink of an eye - into the tabloid crossword world of Google BigQuery (after which I
            felt almost the need for disinfection) and now I work within the rigour of retail finance where you are
            cautious and very, very thorough. This is clean money - your money and mine - and getting it wrong simply
            isn't an option. </p>
        </div>        
        <div class="skill-row">
          <img class="skill-image-left" src="static/images/literature.png" alt="literature-icon-img">
          <h3>The Ability to Communicate Without a Touchscreen and to Use the Apostrophe Reliably</h3>
          <p class="standard-text">Grammar, punctuation and fully-formed sentences are dirty words these days, and there
            is plenty of getting away from this stuff. In the same way that good database design and code can be both
            intellectually sound and aesthetically satisfying, the written word can both inform and entertain even when
            meaning is abstract or obscure, and the strengths of both disciplines lie in careful execution and the best
            possible use of available resources. Language is an exquisite innovation, available only our species, and
            yet it is abused relentlessly and taken recklessly for granted (please note the careful sidestepping of the
            split infinitive). Of course there are disciplines where precise, accurate language is the norm - the law
            being the prime example - but why does correct usage now seem to be the exception rather than the rule?
            Many might argue that strict adherence to grammatical rules doesn't make sense (and they would be right
            because English grammar itself is heavily contrived and largely nonsensical) and that there are plenty of
            exemplars of our language who have started at least one sentence with a preposition. I don't seek purity,
            but I do like reading prose that bears the watermark of somebody who has at least made an effort regarding
            clarity and the observation of the basic rules of spelling and punctuation. For myself, I take pride in my
            written work, both for professional and personal purposes, and I consider myself an accomplished verbal and
            written communicator simply because I enjoy practicing the discipline so much.</p>
        </div>
      </div>
      <hr>
      <div class="interests">
        <h2>My Interests</h2>
        <div class="skill-row">
          <img class="skill-image-left" src="static/images/trombone.png" alt="trb-icon-img">
          <h3>The Trombone and Other Brass</h3>
          <p class="standard-text">As if things weren't getting weird enough. Yes...I play the trombone and the tuba
            (OK, OK, so it's a bass when you're a brass bander) but that doesn't make me complete weirdo. I know
            several trombonists who aren't weirdos...a few anyway...OK...maybe a couple, but we aren't actually
            dangerous. Don't believe everything a strings player tells you. I've been playing for the thick end of 50 years now
            and I'm just getting the hang of it. Currently, I play bass trombone with Waterbeach Brass in Cambridgeshire,
            and I have also played with a couple of symphony orchestras in the area.
          </p>
        </div>
        <div class="skill-row">
          <img class="skill-image-left" src="static/images/fountain-pen.png" alt="pen-icon-img">
          <h3>Blockbuster Novels (The Writing Of) and Other Penmanship</h3>
          <p class="standard-text">As if things weren't getting weird enough. Yes...I play the trombone and the tuba
            (OK, OK, so it's a bass when you're a brass bander) but that doesn't make me complete weirdo. I know
            several trombonists who aren't weirdos...a few anyway...OK...maybe a couple, but we aren't actually
            dangerous. Don't believe everything a strings player tells you. I've been playing for the thick end of 50 years now
            and I'm just getting the hang of it. Currently, I play bass trombone with Waterbeach Brass in Cambridgeshire,
            and I have also played with a couple of symphony orchestras in the area.
          </p>
        </div>
      </div>
      <hr>
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>This site is an exercise in lazy outreach, both for professional and lay interests.</h3>
        <p class="centred-50pc">I'm not actively scouting for work, but if you feel you could work with me and have a
          highly-paid / poorly-paid / paid-at-all* (*I will delete as my employment situation dictates) position
          available then please click the link.  Similarly, if your interests intersect with mine and you have something
          to say or show then click away, but please stay away if you take things too seriously and get exercised when
          people don't agree with you because, for the most part, I don't actually give a shit and tend to laugh at
          people who give too much of one. We need to remember that enjoying something isn't the thing same as believing
          you know everything about it and that you're always right.</p>
        <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
      </div>
    
    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
      <a class="footer-link" href="https://www.davidperkins.co.uk/">Website</a>

      <p>© 2022 David Perkins</p>
      <p>
        <a href="https://www.flaticon.com/free-icons/sql" title="sql icons">Sql icon created by juicy_fish - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/economy" title="economy icons">Economy icon created by ultimatearm - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/literature" title="literature icons">Literature icon created by Freepik - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/trombone" title="trombone icons">Trombone icons created by Freepik - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/fountain-pen" title="fountain pen icons">Fountain pen icons created by Freepik - Flaticon</a>
      </p>
    </div>
  </body>
</html>
